[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = http://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = http://github.com/hallison/vim-markdown.git
[submodule ".vim/bundle/comments.vim"]
	path = .vim/bundle/comments.vim
	url = https://github.com/vim-scripts/comments.vim.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/vim-scripts/fugitive.vim.git
[submodule ".vim/bundle/VST"]
	path = .vim/bundle/VST
	url = https://github.com/vim-scripts/VST.git
[submodule ".vim/bundle/wikipedia"]
	path = .vim/bundle/wikipedia
	url = https://github.com/vim-scripts/wikipedia.vim.git
[submodule ".vim/bundle/vimwiki"]
	path = .vim/bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule ".vim/bundle/vim-rooter"]
	path = .vim/bundle.disabled/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule ".vim/bundle/netrw"]
	path = .vim/bundle/netrw
	url = https://github.com/vim-scripts/netrw.vim.git
[submodule ".vim/bundle/gitv"]
	path = .vim/bundle/gitv
	url = https://github.com/gregsexton/gitv.git
