[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = http://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = http://github.com/hallison/vim-markdown.git
[submodule ".vim/bundle/comments.vim"]
	path = .vim/bundle/comments.vim
	url = https://github.com/vim-scripts/comments.vim.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/vim-scripts/fugitive.vim.git
[submodule ".vim/bundle/VST"]
	path = .vim/bundle/VST
	url = https://github.com/vim-scripts/VST.git
